.body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}
.alert-alert-danger{
    width: 200px;
}
.media-object{
    width: 42px;
    height: 42px;
}
.media-body{
    padding-top: 15px;
}
.text-color-999{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 20px;
}
.community-menu{
    display: block;
    color:#999;
    font-size: 13px;
    margin-bottom: 15px;
}
.jumbotron {
    margin: 50px;
}
.comment{
    margin: 10px 0;
}
.comment-sp{
    margin-top: 0;
}
.comments{
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;
}
.sub-comments{
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}

.comment-btn{
    float: right;
    margin-bottom: 10px;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}
.question-title{
    margin-top: 25px;
 }
.question-tag{
    margin-right: 6px;
}
.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.question-wechat{
    width: 100%;
}