.body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}
.alert-alert-danger{
    width: 200px;
}
.media-object{
    width: 42px;
    height: 42px;
}
.media-body{
    padding-top: 15px;
}
.text-color-999{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 20px;
}
.community-menu{
    color:#999;
    font-size: 12px;
}
.jumbotron {
    margin: 50px;
}
.comment{
    margin: 10px 0;
}
.comment-btn{
    float: right;
    margin-bottom: 10px;
}