<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}">提出问题</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body class="body">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2>
                <span th:text="${sectionName}">发起</span>
            </h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input th:value="${title}" type="text" class="form-control" name="title" id="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题描述</label>
                    <textarea th:text="${description}" class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">标签</label>
                    <input th:value="${tag}" type="text" class="form-control" name="tag" id="tag" placeholder="添加标签，以逗号隔开">
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger alert-alert-danger" th:text="${error}" th:if="${error != null}"></div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">
                                发布
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <div class="list-group section">
                <a href="/profile/questions"  th:class="${section == 'questions'}? 'active list-group-item':'list-group-item' ">我的问题</a>
                <a href="/profile/replies"  th:class="${section == 'replies'}? 'active list-group-item':'list-group-item'">最新回复
                    <span class="badge">14</span>
                </a>


            </div>
        </div>
    </div>
</div>
</body>
</html>